@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (1: 1%, 5: 5%, 10: 10%),
        ),
      ),
    ),
  )
);

.border-none {
  border: none !important;
}

$padding: (
  "25": 0.25rem,
  "50": 0.5rem,
  "75": 0.75rem,
  "100": 0.100rem,
);

@each $size, $value in $padding {
  .padding-#{$size} {
    padding: $value;
  }
}
