<main class="bg-dark text-white">
  <div class="hero__section section--spacing text-light bg-pattern-dark">
    <div class="container">
      <div class="row align-items-center">
        <h1 class="display-1">Nachwuchs</h1>
        <div class="col-12 col-md-6">
          <h2 class="display-4">Vision</h2>
          <p>Die Spielerförderung spielt in der Geschichte von Black Lion eine große Rolle. Im Gründungsjahr waren es Agurin &amp; Co.,
            die in der ESL Meisterschaft frisch aufspielten und in die Top-4 stürmten.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <h2 class="display-4">Mission</h2>
          <p>Heute und in Zukunft sehen es die Löwen als eine ihrer wichtigsten Aufgaben, dieses
            Förderungskonzept weiter voranzutreiben und Spieler für die eigene Profimannschaft zu entwickeln
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section text-dark bg-white text-dark section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h1 class="display-1">Erfolgreiche Talente</h1>
          <p>In der Vergangenheit gelang aufstrebenden Spielern bei Black Lion der Durchbruch, so zum Beispiel:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Steven <b>RKR</b> Chen</li>
            <li class="list-group-item">Henk <b>Advienne</b> Reijenga</li>
            <li class="list-group-item">Timothy <b>DizL</b> Warscher</li>
            <li class="list-group-item">Sven <b>Sven</b> Olejnikow</li>
            <li class="list-group-item">Daniel <b>D4nka</b> Golzmann</li>
          </ul>
        </div>
        <div class="offset-1 col-2 d-none d-md-flex">
          <img class="img-fluid" src="/assets/images/BlackLion_Doodles_Skull_Black.png" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section text-dark bg-quinary section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 d-none d-md-flex">
          <img class="img-fluid" src="/assets/images/BlackLion_Doodles_Easy_Black.png" alt="...">
        </div>
        <div class="col-12 col-md-8">
          <h1 class="display-1">Jugendförderung</h1>
          <h2>Unser weg um unseren Nachwuchs zu fördern</h2>
          <p>Die Spielerausbildung verläuft in einem aufeinander aufbauenden 3-Stufen-Plan:</p>
          <ol>
            <li>Basisstufe</li>
            <li>Aufbaustufe</li>
            <li>Leistungsstufe</li>
          </ol>
          <p>Die Jugendförderung in der Jugendabteilung erfolgt ausbildungsorientiert und individuell. Dem
            entsprechend stehen neben der Spielbezogenen Förderung vor allem Jugendschutz, Gesundheit und
            die Schulbildung im Fokus.
          </p>
          <div class="btn-group">
            <a (click)="triggerMailTo()" class="btn btn-dark">Bewirb dich jetzt!</a>
            <a [routerLink]="'/about'" class="btn btn-outline-dark">Über uns</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h1 class="display-1">Nachwuchs Teams</h1>
          <h2>Unser weg um unseren Nachwuchs zu fördern</h2>
          <p>Wir fördern DICH und helfen DIR bei der Zieldefinition, im Training und zeigen dir worauf es ankommt. Desweiteren kannst DU einen Stammplatz in einem unserer Academy-Teams oder sogar im Profiteam ergattern. Überzeuge durch deine Persönlichkeit und Fähigkeiten. #BeTheLion
          </p>
        </div>
        <div class="col-12 col-md-3">
          <h2>Teams</h2>
          <div class="btn-group-vertical">
            <a (click)="scrollTo('blu21')" class="btn btn-outline-quinary border-none fw-bold">Black Lion U21</a>
            <a (click)="scrollTo('blu20')" class="btn btn-outline-quinary border-none fw-bold">Black Lion U20</a>
            <a (click)="scrollTo('blu18')" class="btn btn-outline-quinary border-none fw-bold">Black Lion U18</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-section [id]="'blu21'" [wrapperCssClasses]="['progaming__section', 'section--spacing', 'bg-pattern-quinary']">
    <h2 class="display-4">Black Lion U21</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Rhyno.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Top.png" alt="Rhyno Toplane">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Rhyno</h5>
            <h6 class="card-subtitle text-tertiary">Toplane</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Rebanto.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Jungle.png" alt="Rebanto Jungle">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Rebanto</h5>
            <h6 class="card-subtitle text-tertiary">Jungle</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/TomiJ.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Mid.png" alt="TomiJ Midlane">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">TomiJ</h5>
            <h6 class="card-subtitle text-tertiary">Midlane</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Bulbasur.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_ADC.png" alt="Bulbasur ADC">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Bulbasur</h5>
            <h6 class="card-subtitle text-tertiary">ADC</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/NebeL.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Sup.png" alt="nebeL Support">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">nebeL</h5>
            <h6 class="card-subtitle text-tertiary">Support</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/gVio.jpeg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">gVio</h5>
            <h6 class="card-subtitle text-tertiary">Sub</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-8">
              <h5 class="card-title">Turtle</h5>
              <h6 class="card-subtitle text-tertiary">Coach</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-8">
              <h5 class="card-title">Fykling</h5>
              <h6 class="card-subtitle text-tertiary">Coach</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-section>
  <app-section [id]="'blu20'" [wrapperCssClasses]="['progaming__section', 'section--spacing', 'bg-quinary']">
    <h2 class="display-4">Black Lion U20</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_Top.png"
                alt="squan Toplane" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">squan</h5>
              <h6 class="card-subtitle text-tertiary">Toplane</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_Jungle.png"
                alt="Sentherus Jungle" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">Sentherus</h5>
              <h6 class="card-subtitle text-tertiary">Jungle</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_Mid.png"
                alt="Humnam Mid" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">Humnam</h5>
              <h6 class="card-subtitle text-tertiary">Mid</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_ADC.png"
                alt="Kyubeti sama ADC" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">Kyubeti sama</h5>
              <h6 class="card-subtitle text-tertiary">ADC</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_Sup.png"
                alt="Cocatee Support" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">Cocatee</h5>
              <h6 class="card-subtitle text-tertiary">Support</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-8">
              <h5 class="card-title">Fykling</h5>
              <h6 class="card-subtitle text-tertiary">Coach</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-section>
  <app-section [id]="'blu18'" [wrapperCssClasses]="['progaming__section', 'section--spacing', 'bg-pattern-quinary']">
    <h2 class="display-4">Black Lion U18</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_Top.png"
                alt="rexzeon Toplane" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">rexzeon</h5>
              <h6 class="card-subtitle text-tertiary">Toplane</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_Jungle.png"
                alt="ŚQP Jungle" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">ŚQP</h5>
              <h6 class="card-subtitle text-tertiary">Jungle</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_Mid.png"
                alt="Mayblis Mid" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">Mayblis</h5>
              <h6 class="card-subtitle text-tertiary">Mid</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_ADC.png"
                alt="Maro ADC" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">Maro</h5>
              <h6 class="card-subtitle text-tertiary">ADC</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-4">
              <img src="/assets/images/BlackLion_Role_Icons_Sup.png"
                alt="AIOsna Support" class="img-fluid">
            </div>
            <div class="col-8">
              <h5 class="card-title">AIOsna</h5>
              <h6 class="card-subtitle text-tertiary">Support</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-8">
              <h5 class="card-title">Haze</h5>
              <h6 class="card-subtitle text-tertiary">Coach</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-8">
              <h5 class="card-title">ATangerine</h5>
              <h6 class="card-subtitle text-tertiary">Coach</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-8">
              <h5 class="card-title">Fykling</h5>
              <h6 class="card-subtitle text-tertiary">Coach</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-section>
</main>
