<main class="bg-dark text-white">
  <div class="hero__section section--spacing text-light bg-pattern-dark">
    <div class="container">
      <div class="row align-items-center">
        <h1 class="display-1">Nachwuchs</h1>
        <div class="col-12 col-md-6">
          <h2 class="display-4">Vision</h2>
          <p>Die Spielerförderung spielt in der Geschichte von Black Lion eine große Rolle. Im Gründungsjahr waren es Agurin &amp; Co.,
            die in der ESL Meisterschaft frisch aufspielten und in die Top-4 stürmten.
          </p>
        </div>
        <div class="col-12 col-md-6">
          <h2 class="display-4">Mission</h2>
          <p>Heute und in Zukunft sehen es die Löwen als eine ihrer wichtigsten Aufgaben, dieses
            Förderungskonzept weiter voranzutreiben und Spieler für die eigene Profimannschaft zu entwickeln
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section text-dark bg-white text-dark section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h1 class="display-1">Erfolgreiche Talente</h1>
          <p>In der Vergangenheit gelang aufstrebenden Spielern bei Black Lion der Durchbruch, so zum Beispiel:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Steven <b>RKR</b> Chen</li>
            <li class="list-group-item">Henk <b>Advienne</b> Reijenga</li>
            <li class="list-group-item">Timothy <b>DizL</b> Warscher</li>
            <li class="list-group-item">Sven <b>Sven</b> Olejnikow</li>
            <li class="list-group-item">Daniel <b>D4nka</b> Golzmann</li>
          </ul>
        </div>
        <div class="offset-1 col-2 d-none d-md-flex">
          <img class="img-fluid" src="/assets/images/BlackLion_Doodles_Skull_Black.png" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section text-dark bg-quinary section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 d-none d-md-flex">
          <img class="img-fluid" src="/assets/images/BlackLion_Doodles_Easy_Black.png" alt="...">
        </div>
        <div class="col-12 col-md-8">
          <h1 class="display-1">Jugendförderung</h1>
          <h2>Unser weg um unseren Nachwuchs zu fördern</h2>
          <p>Die Spielerausbildung verläuft in einem aufeinander aufbauenden 3-Stufen-Plan:</p>
          <ol>
            <li>Basisstufe</li>
            <li>Aufbaustufe</li>
            <li>Leistungsstufe</li>
          </ol>
          <p>Die Jugendförderung in der Jugendabteilung erfolgt ausbildungsorientiert und individuell. Dem
          entsprechend stehen neben der Spielbezogenen Förderung vor allem Jugendschutz, Gesundheit und
          die Schulbildung im Fokus.</p>
          <div class="btn-group">
            <a href="#" class="btn btn-dark">Bewirb dich jetzt!</a>
            <a href="#" class="btn btn-outline-dark">Athletes first</a>
            <a href="#" class="btn btn-outline-dark">Diversity & Inklusion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h1 class="display-1">Nachwuchs Teams</h1>
          <h2>Unser weg um unseren Nachwuchs zu fördern</h2>
          <p>Wir fördern DICH und helfen DIR bei der Zieldefinition, im Training und zeigen dir worauf es ankommt. Desweiteren kannst DU einen Stammplatz in einem unserer Academy-Teams oder sogar im Profiteam ergattern. Überzeuge durch deine Persönlichkeit und Fähigkeiten. #BeTheLion
          </p>
        </div>
        <div class="col-2 offset-1 d-none d-md-flex">
          <div>
            <a href="#" class="btn btn-outline-quinary border-none fw-bold">Black Lion Unleashed</a>
            <a href="#" class="btn btn-outline-quinary border-none fw-bold">Black Lion U18</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
