@import "~bootstrap/scss/functions";
@import "../common/functions";

// COLORS

$primary: #483698;
$secondary: #FF6699;
$tertiary: #B4458D;
$quaternary: #F59BBB;
$quinary: #99CCCC;
$light: #ffffff;
$dark: #000000;

$brand-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "quinary": $quinary,
  "light": $light,
  "dark": $dark
);

$card-bg: $dark;

$brand-pattern: (
  "primary": '/assets/images/BlackLion_Brandpattern_01_black.png',
  "secondary": '/assets/images/BlackLion_Brandpattern_01_black.png',
  "tertiary": '/assets/images/BlackLion_Brandpattern_01_black.png',
  "quaternary": '/assets/images/BlackLion_Brandpattern_01_black.png',
  "quinary": '/assets/images/BlackLion_Brandpattern_01_petrol.png',
  "light": '/assets/images/BlackLion_Brandpattern_01_black.png',
  "dark": '/assets/images/BlackLion_Brandpattern_01_black.png'
);

@each $name, $image in $brand-pattern {
  .bg-pattern-#{$name} {
    background: url($image);
  };
}

// TYPOGRAPHY

@import "./fonts";

// CONFIGURE OVERWRITES

$theme-colors: $brand-colors;
$font-family-base: Geogrotesque;
