<main class="bg-dark text-white">
  <div class="homepage__section section--spacing bg-pattern-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1">Black Lion</h1>
          <p>Wir gehen neue Wege und fokussieren uns auf unsere Kernthemen: Athlete First, Diversität und Inklusion.
            Als einen Teil unserer Identität tragen wir die Werte Offenheit, Ehrlichkeit und Vertrauen in unseren Herzen!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section bg-primary text-white section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 d-none d-md-flex">
          <img class="img-fluid" src="/assets/images/BlackLion_Doodles_Rock_Black.png" alt="...">
        </div>
        <div class="col-12 col-md-8">
          <h1 class="display-1">Unsere Themen</h1>
          <h3>Athletes-first</h3>
          <p>Der Spieler steht im Fokus, nicht die Marke.</p>
          <h3>Diversität</h3>
          <p>Jeder ist eingeladen ein Teil des Löwenrudel zu sein, niemand wird ausgeschlossen auf Grund des Geschlechts, seiner Herkunft oder seiner Identität.</p>
          <h3>Inklusion</h3>
          <p>Black Lion steht für alle ein, auch und insbesondere für körperlich oder benachteilte Menschen.</p>
          <h2>Es gibt keinen Grund ein Löwe zu sein! <span class="fw-bold">Sei ein Löwe!</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage__section section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1">Löwenstarke Sponsoren</h1>
          <p>Wir kämpfen furchtlos, unermüdlich und selbstbewusst um den Sieg, zusammen als Löwenrudel. Wir wollen ganz vorne mit dabei sein. Mit unserem klaren Ziel vor Augen wachsen wir zu Europa erfolgreichster aufgeschlossenster E-Sport Organisation und gleichzeitig sind wir Vorbild im Ausüben von Gleichstellung. Im Fokus steht immer die Individualität von Spieler und persönlicher Stärken. Das ganze Schwarze Löwe Rudel besteht aus vielen Einzelteilen. Wir leben diese Einstellung Tag für Tag - so inspirieren und aktivieren wir Sportler, Fans und Partner!<br>Sponsorenbilder einfügen
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage__section bg-pattern-dark text-white section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h2 class="display-1">Werde Sponsor<br></h2>
          <p>Du bist an einem individuellen Sponsoring interessiert?
          </p>
          <p>
            <span (click)="triggerMailTo()" class="btn btn-primary text-center fw-bold">Setzte dich jetzt für eine individuelle Beratung mit uns in Kontakt!</span>
          </p>
          <p>Oder setze dich mit uns über <span class="fw-bold">info@darkorigin.de</span> in Kontakt.</p>
        </div>
      </div>
    </div>
  </div>
</main>
