<main class="bg-dark text-white">
  <div class="homepage__section section--spacing bg-pattern-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1">Black Lion<br></h1>
          <p>Wir gehen neue Wege und fokussieren uns auf unsere Kernthemen: Athlete First, Diversität und Inklusion.
            Als einen Teil unserer Identität tragen wir die Werte Offenheit, Ehrlichkeit und Vertrauen in unseren Herzen!
          </p>
          <div class="btn-group">
            <a href="#" class="btn text-white btn-primary">Unsere Philosophie</a>
            <a href="#" class="btn text-white btn-outline-primary">Werte &amp; Konzepte</a>
            <a href="#" class="btn text-white btn-outline-primary">Löwenstarke Sponsoren</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section bg-primary text-white section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h1 class="display-1">Unsere<br>Werte</h1>
          <p> --> Bild hier einfügen! <-- Hintergrundfarbe ändern?
          </p>
        </div>
      </div>
    </div>
	</div>
	 <div class="homepage__section section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1">Löwenstarke Sponsoren</h1>
          <p>Wir kämpfen furchtlos, unermüdlich und selbstbewusst um den Sieg, zusammen als Löwenrudel. Wir wollen ganz vorne mit dabei sein. Mit unserem klaren Ziel vor Augen wachsen wir zu Europa erfolgreichster aufgeschlossenster E-Sport Organisation und gleichzeitig sind wir Vorbild im Ausüben von Gleichstellung. Im Fokus steht immer die Individualität von Spieler und persönlicher Stärken. Das ganze Schwarze Löwe Rudel besteht aus vielen Einzelteilen. Wir leben diese Einstellung Tag für Tag - so inspirieren und aktivieren wir Sportler, Fans und Partner!<br>Sponsorenbilder einfügen
          </p>
        </div>
      </div>
    </div>
  </div>
   <div class="homepage__section bg-pattern-dark text-white section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1">Werde Sponsor<br></h1>
          <p> --> Text und Formular <--
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
