<header class="bg-dark text-white">
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="/assets/images/BlackLion_Logo_white_clean_symbol.png" alt=""
          class="d-sm-none" style="width: 85px;">
        <img src="/assets/images/BlackLion_Logo_white_clean_without_tagline.png" alt=""
          class="d-none d-lg-none d-sm-inline d-md-inline" style="width: 100%; max-width: 200px;">
        <img src="/assets/images/BlackLion_Logo_white_clean_oneliner.png" alt=""
          class="d-none d-lg-inline" style="width: 100%; max-width: 240px;">
      </a>
      <div class="col-auto">
        <a class="text-uppercase padding-25 btn btn-outline-light border-none" aria-current="page" [routerLink]="['/progaming']">Pro</a>
        <a class="text-uppercase padding-25 btn btn-outline-light border-none" [routerLink]="['/talented']">Nachwuchs</a>
        <a class="text-uppercase padding-25 btn btn-outline-light border-none" [routerLink]="['/community']">Community</a>
        <a class="fw-bold padding-25 btn btn-outline-secondary border-none d-none d-sm-inline" href="#">#UnleashUrLion</a>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<div class="bg-white section--spacing">
  <div class="container">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action text-secondary display-1 text-center">#UnleashUrLion
      </a>
    </div>
  </div>
</div>
<footer class="bg-dark text-white section__part--spacing">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-4 col-md-3 col-lg-2 text-center">
        <img class="img-fluid" src="/assets/images/urage-logo.png" alt="urage">
      </div>
      <div class="col-4 col-md-3 col-lg-2 text-center">
        <img class="img-fluid" src="/assets/images/do-logo-h.png" alt="Dark Origin">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="d-grid gap-0">
          <div class="fw-bold text-uppercase btn text-start disabled text-white">Esports</div>
          <a href="#" class="btn btn-outline-light border-none text-start">Progaming</a>
          <a href="#" class="btn btn-outline-light border-none text-start">Academy</a>
          <a href="#" class="btn btn-outline-light border-none text-start">Nachwuchsleistungszentrum</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="d-grid gap-0">
          <div class="fw-bold text-uppercase btn text-start disabled text-white">Black Lion</div>
          <a href="#" class="btn btn-outline-light border-none text-start" [routerLink]="'/about'">Über uns</a>
          <a href="#" class="btn btn-outline-light border-none text-start">Impressum</a>
          <a href="#" class="btn btn-outline-light border-none text-start">Datenschutz</a>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center text-md-end">
        <img class="img-fluid" src="/assets/images/BlackLion_Logo_white_clean_tagline.png" alt="">
      </div>
    </div>
  </div>
</footer>
