<header class="bg-dark text-white">
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        <img src="/assets/images/BlackLion_Logo_white_clean_symbol.png" alt=""
          class="d-sm-none" style="width: 85px;">
        <img src="/assets/images/BlackLion_Logo_white_clean_without_tagline.png" alt=""
          class="d-none d-lg-none d-sm-inline d-md-inline" style="width: 100%; max-width: 200px;">
        <img src="/assets/images/BlackLion_Logo_white_clean_oneliner.png" alt=""
          class="d-none d-lg-inline" style="width: 100%; max-width: 240px;">
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link link-light text-uppercase" aria-current="page" href="#">progaming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light text-uppercase" href="#">Talentschmiede</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light text-uppercase" href="#">Wir</a>
        </li>
        <li class="nav-item d-none d-sm-inline">
          <a class="nav-link link-secondary fw-bold" href="#">#UnleashUrLion</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<div class="bg-white section--spacing">
  <div class="container">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action text-secondary display-1 text-center">#UnleashUrLion
      </a>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-3 text-center">
        <img src="/assets/images/urage-logo.png" style="width: 269px" alt="urage">
      </div>
      <div class="col-12 col-md-9 text-center">
        <img src="/assets/images/do-logo-h.png" alt="#UnleashUrLion"
          style="width: 400px">
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark text-white section__part--spacing">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="list-group list-group-flush">
          <div class="list-group-item list-group-item-action bg-dark text-white fw-bold">Esports</div>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Progaming</a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Academy</a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Performance center</a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Talent Scouting</a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">usw</a>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="list-group list-group-flush">
          <div class="list-group-item list-group-item-action bg-dark text-white fw-bold">About</div>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Impressum</a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Datenschutz</a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">History</a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Team</a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">usw</a>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center text-md-end">
        <img src="/assets/images/BlackLion_Logo_white_clean_tagline.png" alt=""
          style="width: 100%; max-width: 400px;">
      </div>
    </div>
  </div>
</footer>
