<main class="bg-dark text-white progaming">
  <app-hero
    keyVisual="/assets/images/lol_2019_logo.png"
    keyVisualAlt="Progaming at Black Lion"
    [wrapperCssClasses]="['section--spacing', 'bg-pattern-dark']"
  >
    <h1 class="display-1">Progaming</h1>
    <p class="display-6">Packende Team-Fights. Attraktive Taktik. Fesselnde Spiele.</p>
  </app-hero>
  <app-section [wrapperCssClasses]="['sponsor__section']">
    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <img src="/assets/images/urage-logo.png" alt="urage" class="img-fluid">
      </div>
      <div class="col-4 col-md-2">
        <img src="/assets/images/do-logo-h.png" alt="Dark Origin" class="img-fluid">
      </div>
    </div>
  </app-section>
  <app-section [wrapperCssClasses]="['progaming__section', 'section--spacing', 'bg-pattern-quinary']">
    <h2 class="display-4">Athleten</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top"
            style="background: url('/assets/images/BlackLion_Pattern_Top_red.png') repeat; background-size: 200px;"
          >
            <img src="https://fazeclan.com/images/player-sileutte.svg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Top.png"
                style="width: 60px"
                alt="Obelisk Toplane">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Obelisk</h5>
            <h6 class="card-subtitle text-tertiary">Toplane</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top"
            style="background: url('/assets/images/BlackLion_Pattern_Jungle_red.png') repeat; background-size: 200px;"
          >
            <img src="https://fazeclan.com/images/player-sileutte.svg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Jungle.png"
                style="width: 60px"
                alt="Viper Jungle">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Viper</h5>
            <h6 class="card-subtitle text-tertiary">Jungle</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top"
            style="background: url('/assets/images/BlackLion_Pattern_Mid_red.png') repeat; background-size: 200px;"
          >
            <img src="https://fazeclan.com/images/player-sileutte.svg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Mid.png"
                style="width: 60px"
                alt="Ryoshi Midlane">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Ryoshi</h5>
            <h6 class="card-subtitle text-tertiary">Midlane</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top"
            style="background: url('/assets/images/BlackLion_Pattern_ADC_red.png') repeat; background-size: 200px;"
          >
            <img src="https://fazeclan.com/images/player-sileutte.svg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_ADC.png"
                style="width: 60px"
                alt="Alex ADC">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Alex</h5>
            <h6 class="card-subtitle text-tertiary">ADC</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top"
            style="background: url('/assets/images/BlackLion_Pattern_Sup_red.png') repeat; background-size: 200px;"
          >
            <img src="https://fazeclan.com/images/player-sileutte.svg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Sup.png"
                style="width: 60px"
                alt="Alex ADC">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Sorex</h5>
            <h6 class="card-subtitle text-tertiary">Sup</h6>
          </div>
        </div>
      </div>
    </div>
  </app-section>
</main>
