<main class="bg-dark text-white progaming">
  <app-hero
    keyVisual="/assets/images/lol_2019_logo.png"
    keyVisualAlt="Progaming at Black Lion"
    [wrapperCssClasses]="['section--spacing', 'bg-pattern-dark']"
  >
    <h1 class="display-1">Progaming</h1>
    <p class="display-6">Packende Team-Fights. Attraktive Taktik. Fesselnde Spiele.</p>
  </app-hero>
  <app-section *ngIf="false" [wrapperCssClasses]="['sponsor__section']">
    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <img src="/assets/images/urage-logo.png" alt="urage" class="img-fluid">
      </div>
      <div class="col-4 col-md-2">
        <img src="/assets/images/do-logo-h.png" alt="Dark Origin" class="img-fluid">
      </div>
    </div>
  </app-section>
  <app-section [wrapperCssClasses]="['progaming__section', 'section--spacing', 'bg-pattern-quinary']">
    <h2 class="display-4">Athleten</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Obelisk.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Top.png"
                alt="Obelisk Toplane">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Obelisk</h5>
            <h6 class="card-subtitle text-tertiary">Toplane</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Kasapina.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Jungle.png"
                alt="Kasapina Jungle">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Kasapina</h5>
            <h6 class="card-subtitle text-tertiary">Jungle</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Sean.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Mid.png"
                style="width: 60px"
                alt="Sean Midlane">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Sean</h5>
            <h6 class="card-subtitle text-tertiary">Midlane</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Uncause.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_ADC.png"
                alt="Uncause ADC">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Uncause</h5>
            <h6 class="card-subtitle text-tertiary">ADC</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Crow.jpeg" alt="...">
          </div>
          <div class="card-img-overlay">
            <div class="player__role">
              <img src="/assets/images/BlackLion_Role_Icons_Sup.png"
                alt="Crow ADC">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Crow</h5>
            <h6 class="card-subtitle text-tertiary">Sup</h6>
          </div>
        </div>
      </div>
      <div *ngIf="false" class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card">
          <div class="card-img-top">
            <img class="img-fluid" src="/assets/images/Memento.jpeg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Memento</h5>
            <h6 class="card-subtitle text-tertiary">Coach</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 section__part--spacing">
        <div class="card-body bg-dark">
          <div class="row align-content-center">
            <div class="col-8">
              <h5 class="card-title">Memento</h5>
              <h6 class="card-subtitle text-tertiary">Coach</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-section>
</main>
