<main class="bg-dark text-white">
  <div class="homepage__section section--spacing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="display-1">UNLEASH YOUR LION</h1>
          <p>Bei Black Lion bist du Teil der Community, bei der verschiedenste Talente aus allen Leveln zusammen
            kommen und zusammen halten.<br>Flame ist bei uns nicht erlaubt und durch unterschiedliche Fähigkeiten gewinnen wir an Stärke.<br>
            Entfessele deinen Löwen - Bei Black Lion darfst DU alles sein.
          </p>
          <div class="btn-group">
            <a href="#" class="btn text-white btn-primary">Join us on Discord <b>#UnleashUrLion</b></a>
            <a href="#" class="btn text-white btn-outline-primary">Become a talent <b>#BeTheLion</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tv__section section--spacing bg-primary"
    style="background: url('/assets/images/BlackLion_BrandPattern_01_Purple.png') repeat; background-size: 100%;">
    <div class="container">
      <h1 class="display-4">Live</h1>
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <div class="tv__video">
            <img class="img-fluid" src="assets/images/mock-live-now-twitch.png" alt="...">
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <img class="img-fluid" src="assets/images/BlackLion_Doodles_PWND_White.png" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="tv__section section--spacing bg-primary">
    <div class="container">
      <h1 class="display-4">Watch us on Twitch</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-3 section__part--spacing">
          <div class="card">
            <div class="card-img-top">
              <img class="img-fluid" src="https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/da3d820222167e8b1697_blackliongg_12811798299_3616675159/thumb/custom-5a4a72e9-7acc-45a2-bc32-0df85abb3b17-320x180.jpeg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">PRM Div 2.2 Tag 7 | BL vs PD | #BeTheLion</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 section__part--spacing">
          <div class="card">
            <div class="card-img-top">
              <img class="img-fluid" src="https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/da3d820222167e8b1697_blackliongg_12811798299_3616675159/thumb/custom-5a4a72e9-7acc-45a2-bc32-0df85abb3b17-320x180.jpeg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">PRM Div 2.2 Tag 7 | BL vs PD | #BeTheLion</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 section__part--spacing">
          <div class="card">
            <div class="card-img-top">
              <img class="img-fluid" src="https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/da3d820222167e8b1697_blackliongg_12811798299_3616675159/thumb/custom-5a4a72e9-7acc-45a2-bc32-0df85abb3b17-320x180.jpeg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">PRM Div 2.2 Tag 7 | BL vs PD | #BeTheLion</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 section__part--spacing">
          <div class="card">
            <div class="card-img-top">
              <img class="img-fluid" src="https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/da3d820222167e8b1697_blackliongg_12811798299_3616675159/thumb/custom-5a4a72e9-7acc-45a2-bc32-0df85abb3b17-320x180.jpeg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">PRM Div 2.2 Tag 7 | BL vs PD | #BeTheLion</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 section__part--spacing">
          <div class="card">
            <div class="card-img-top">
              <img class="img-fluid" src="https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/da3d820222167e8b1697_blackliongg_12811798299_3616675159/thumb/custom-5a4a72e9-7acc-45a2-bc32-0df85abb3b17-320x180.jpeg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">PRM Div 2.2 Tag 7 | BL vs PD | #BeTheLion</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
