<main class="bg-dark text-white">
  <div class="hero__section section--spacing bg-pattern-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-9 col-lg-8">
          <h1 class="display-1">Discord</h1>
          <h2 class="display-4">#RoarTogether</h2>
          <p>Triff dich mit anderen tollen Fans, mach mit bei unseren Communityevents und verpasse kein Spiel unserer Amateur- und Profiteams.</p>
          <div class="btn-group">
            <a class="btn btn-secondary" target="_blank" href="https://discord.gg/ghsJ3PFFha">Komm auf unseren Discord</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="talents__section section--spacing">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 text-center">
          <h1 class="display-1">Social Media</h1>
          <div>
            <a target="_blank" href="https://twitter.com/BlackLion_GG" class="btn btn-outline-secondary h1 border-none">Twitter</a>
            <a target="_blank" href="https://www.instagram.com/blackliongg" class="btn btn-outline-secondary h1 border-none">Instagram</a>
            <a target="_blank" href="https://www.twitch.tv/blackliongg" class="btn btn-outline-secondary h1 border-none">Twitch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
